.gdeMMu:last-of-type {
	margin-right: 0px;
	margin-bottom: 0px;
}
.dGqILF {
	border-radius: 12px;
	padding: 16px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(205, 205, 211);
	box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 15px;
}
@media (min-width: 481px) {
	.gdeMMu {
		gap: 32px;
		flex-direction: row;
		text-align: left;
	}
}

.gdeMMu {
	display: flex;
	flex-flow: column wrap;
	cursor: pointer;
	gap: 8px;
	text-align: center;
	border-radius: 20px !important;
	padding: 32px !important;
}
.cwudig {
	-webkit-box-pack: center;
	justify-content: center;
	display: flex;
	height: auto;
}
@media (min-width: 1024px) {
	.gdeMMu {
		gap: 8px;
		flex-direction: column;
		text-align: center;
	}
}
.eZxdDd {
	flex: 1 1 0%;
}
.jvayuu {
	color: rgb(17, 17, 22);
	-webkit-font-smoothing: antialiased;
	text-transform: none;
	font-family: 'Object Sans', 'Adjusted Arial', Tahoma, Geneva, sans-serif;
	font-weight: 900;
	font-size: 24px;
	line-height: 32px;
	margin: 0px;
}
.eZxdDd .rtb-card-body-text {
	margin: 4px 0px 0px;
}
.leRaPD {
	color: rgb(17, 17, 22);
	-webkit-font-smoothing: antialiased;
	text-transform: none;
	font-family: Inter, 'Adjusted Arial', Tahoma, Geneva, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin: 0px;
}
@media (min-width: 1024px) {
	.iFTJyc {
		height: 96px;
	}
}
.iFTJyc {
	overflow: hidden;
}
.gdeMMu button {
	margin-top: 16px;
	margin-bottom: 16px;
}
.gyzsnv,
.gyzsnv:focus,
.gyzsnv:visited,
.gyzsnv:disabled {
	background-color: rgb(255, 255, 255);
	border-color: rgb(0, 65, 217);
	color: rgb(0, 65, 217);
}
.gyzsnv {
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	box-sizing: border-box;
	border: 1px solid;
	border-radius: 12px;
	user-select: none;
	padding: 9px 16px;
	margin: 0px;
	appearance: none;
	transition-property: background-color, border-color, color;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	pointer-events: auto;
	outline: none;
	box-shadow: none;
	width: auto;
	position: relative;
	color: rgb(17, 17, 22);
	-webkit-font-smoothing: antialiased;
	text-transform: none;
	font-family: Inter, 'Adjusted Arial', Tahoma, Geneva, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	height: auto;
}
.gyzsnv::after {
	content: '';
	position: absolute;
	left: 0px;
	height: 44px;
	min-width: 44px;
	width: 100%;
	top: 50%;
	margin-top: -22px;
}
@media (min-width: 481px) {
	.gdeMMu {
		gap: 32px;
		flex-direction: row;
		text-align: left;
	}
}
.gOZbff {
	width: 160px;
	height: 160px;
}

@media (min-width: 1024px) {
	.gdeMMu {
		gap: 8px;
		flex-direction: column;
		text-align: center;
	}
}

@media (hover: hover) and (pointer: fine) {
	.gyzsnv:hover:not(:disabled) {
		background-color: rgb(238, 246, 255);
		border-color: rgb(0, 51, 171);
		color: rgb(0, 51, 171);
	}
}
.gyzsnv,
.gyzsnv:focus,
.gyzsnv:visited,
.gyzsnv:disabled {
	background-color: rgb(255, 255, 255);
	border-color: rgb(0, 65, 217);
	color: rgb(0, 65, 217);
}
.gyzsnv {
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	box-sizing: border-box;
	border: 1px solid;
	border-radius: 12px;
	user-select: none;
	padding: 9px 16px;
	margin: 0px;
	appearance: none;
	transition-property: background-color, border-color, color;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	pointer-events: auto;
	outline: none;
	box-shadow: none;
	width: auto;
	position: relative;
	/* color: rgb(17, 17, 22); */
	-webkit-font-smoothing: antialiased;
	text-transform: none;
	font-family: Inter, 'Adjusted Arial', Tahoma, Geneva, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	height: auto;
}
